.h1-task {
    font-size: 50px;
    font-weight: 500;
    color: black;
  }
  p {
    color: #974fd0;
    font-size: 24px;
    font-weight: 500;
  }
  .p-taks-urgent {
    color: #f38383;
    margin-top: 15px;
  }
  .p-taks-Important {
    color: #73c3a6;
    margin-top: 15px;
  }
  .p-task {
    color: #737171;
    width: 100%;
  }
  .btn-task {
    width: 126px;
    height: 50px;
    font-size: 20px;
    background-color: #974fd0;
    color: #FAF9FB;
    border: none;
    border-radius: 8px;
  }
  .btn-task-del {
    width: 126px;
    height: 50px;
    font-size: 20px;
    background-color: #FAF9FB;
    color: #974fd0;
    border: none;
    border-radius: 8px;
    border: 2px solid #974fd0;
  }
  .img-task {
    width: 20px;
    padding-bottom: 5px;
  }
  .back-to-top{
      color: #974fd0;
  }
  @media(max-width: 1114px){
      .h1-task{
          font-size: 30px;
          color: black;
      }
      p{
          font-size: 15px;
      }
      .btn-task{
          width: 80px;
          height: 40px;
          font-size: 13px;
      }
      .btn-task-del{
          width: 80px;
          height: 40px;
          font-size: 13px;
      }
      .img-task{
          width: 15px;
      }
  }